<h2>Celebrities List</h2>

{{#each celebrities}}
  <hr />
  <div>
    <a href="/celebrities/{{_id}}">
      <h3>{{name}}</h3>
    </a>
    {{!-- <h6>Occupation: {{occupation}}</h6>
    <h6>Catch Phrase: {{catchPhrase}}</h6> --}}
  </div>
  <hr />
{{/each}}