<h1>New Celebrities View</h1>
<p>Welcome</p>

<form action="/celebrities/create" method="post" enctype="multipart/form-data">

<label>Name</label>
<input type="text" name="name">

<label>Image</label>
  <input type="file" name="image" />

<label>Occupation</label>
<input type="text" name="occupation">

<label>Catch Phrase</label>
<input type="text" name="catchPhrase">

    <button type="submit">
        Save
    </button>
</form>