<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/signup"> Signup </a>
    {{#unless theUser}}
      <a href="/login"> Login </a>
    {{/unless}}

    <a href="/celebrities"> List Celebrities </a>
    <a href="/celebrities/create"> Add Celebrity </a>
    <a href="/movies/create"> Add Movies </a>
    <a href="/movies"> List Movies </a>

    {{#if theUser}}
      <form action="/logout" method="post">
        <button>Logout</button>
      </form>
    {{/if}}

    {{#if theUser}}
      <h3>Welcome, {{theUser.username}}</h3>
    {{/if}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>
</html>