body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


.layout {
  display: flex;
  flex-wrap: nowarp;
  justify-content: space-evenly;
  background-color: rgb(164, 164, 164);
  padding: 20px;
  margin: 0;
}

.link {
  color: white;
  text-decoration: none;
}

.message {
  display: flex;
  flex-wrap: nowarp;
  justify-content: center;
  background-color: rgb(164, 164, 164);
  color: white;
  padding: 10px;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  background-color: rgb(164, 164, 164);
  color: white;
  padding: 10px;
  margin-top: 0;
  
}