<h2 class="title">Login</h2>

<form action="/login" method="POST">
  <label>
    Email:
    <input type="text" name="email" required />
  </label>
  <br />

  <label>
    Password:
    <input type="text" name="password" required />
  </label>
  <br />

  <button type="submit">Login</button>

</form>

<a href="/forgot-password">Forgot Password?</a>